.signup-page {
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 90%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;

        .img {
            transform: rotate(-20deg);
        }

        .signup-form-container {
            margin-right: 100px;
        }
    }
}



//MEDIA QUERY
@media (max-width: 600px) {
    .signup-page .img {
        display: none;
    }  

    .signup-page .signup-form-container {
        transform: translateX(50px);
    }
}