.update-password-page {
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 90%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;

        .img {
            transform: rotate(-20deg);
            margin-right: 200px;
        }
    }
}



//MEDIA QUERY
@media (max-width: 1100px) {
    .update-password-page .update-password-form-container {
        margin-right: 100px;
    }
}

@media (max-width: 800px) {
    .update-password-page .update-password-form-container {
        margin-right: 0px;
    }

    .update-password-page .img {
        display: none;
    }  
}