* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

@import "./fonts";
@import "./varaibles";
@import "./Switch";
@import "./Menu";
@import './Heading';
@import './Bricks';
@import './ButtonSquare';
@import './index';
@import './404';
@import './join';
@import './SignupForm';
@import './SigninForm';
@import './signup';
@import './signin';
@import './completeregistration';
@import './forgotpassword';
@import './ForgotPasswordForm';
@import './updatepassword';
@import './UpdatePasswordForm';
@import './adminindex';
@import './BlackCircle';
@import './RedCircle';
@import './categories';
@import './categorycreate';
@import './CategoryCreateForm';
@import './CategoriesList';
@import './categoryedit';
@import './TagsList';
@import './tags';
@import './tagcreate';
@import './TagCreateForm';
@import './tagedit';
@import './react-quill';
@import './pleasesignin';
@import 'addspot';
@import 'explore';
@import 'SpotPreview';
@import 'allspots';
@import 'spotdetails';
@import 'searchspots';
@import 'editspot';
@import 'profile';
@import 'adminspotlist';
@import 'users';
@import 'map';
@import 'nprogress-custom';